
  // .searchTerm {
  //   width: 100%;
  //   // border: 3px solid #FFC300;
  //   border: none;
  //   padding: 5px;
  //   height: 40px;
  //   border-radius: 5px 0 0 5px;
  //   outline: none;
  //   color: #000;
  // }
  
  // .searchTerm:focus{
  //   color: #616161;
  // }
  
  // .searchButton {
  //   width: 40px;
  //   height: 36px;
  //   border: 1px solid #FFC300;
  //   background: #FFC300;
  //   text-align: center;
  //   color: #fff;
  //   border-radius: 0 5px 5px 0;
  //   cursor: pointer;
  //   font-size: 20px;
  // }
  
  /*Resize the wrap to see the search bar change!*/
  .wrap{
    width: 60%;
    position: relative;
    // top: 70%;
    left: 20%;
    // transform: translate(-50%, -50%);
  }

  .card {
    display: grid;
    align-items: center; 
    grid-template-columns: 1fr 1fr 1fr; 
    border-radius:10px;
    border-color: #fff;

    .form-select {

    }

    .search {
      width: 100%;
      position: relative;
      display: flex;
  
      .searchQuery {
        border: none;
        outline: none;
      }

      .searchButton {  
        background-color:#FFC300;
        border-radius:18px;
        border:6px solid #FFC300;
        display:inline-block;
        cursor:pointer;
        color:#000;
        padding:2px;
        width: 61px;
        height: auto;
        font-size: small;
        margin-left: 5rem;
      }
    }

    .clear-button {
      background-color:#FFC300;
      border-radius:18px;
      border:6px solid #FFC300;
      display:inline-block;
      cursor:pointer;
      color:#000;
      padding:2px;
      width: 61px;
      height: auto;
      font-size: small;
      margin-left: -1rem;
      }

    
    .card-link {
      // display: flex;
      // align-items: center;
      // height: 3rem;
      color: #000;
      text-decoration: none;
      // border-radius: 0.625rem;
      // transition: color .3s ease;
    }

    .card-img {
      max-width: 100%;
      max-height:100%;
    }

    #avatar {
      max-width: 100%;
      max-height:100%;
    }
  }

  .card > div {
    margin: 10px;
    padding: 8px;
  } 
